{
  "urlSSL": false,
  "server": {
    "name": "base",
    "host": "0.0.0.0",
    "port": 5000,
    "url": "http://localhost:5000",
    "bodySize_API_JSON": "5mb",
    "bodySize_API_urlencoded": "8mb",
    "bodySize_ADMIN_JSON": "5mb",
    "bodySize_ADMIN_urlencoded": "8mb",
    "defaultTimeZone": "Asia/Kolkata"
  },
  "debug": false,
  "amqp": {
    "host": "localhost",
    "port": 5672,
    "vhost": "/"
  },
    "databases": {
      "main": {
        "dialect": "postgres",
        "host": "localhost",
        "port": 5432,
        "name": "dbname",
        "user": "postgres",
        "password": "root",
        "log_sql_query": true,
        "debug": false
      },
      "analytics": {
        "dialect": "postgres",
        "host": "analytics-db.example.com",
        "port": 5432,
        "name": "analytics_database_name",
        "user": "analytics_database_user",
        "password": "analytics_database_password",
        "log_sql_query": true,
        "debug": false
      }
    }
  ,
  "PAGE_URL": "http://localhost:3000",
  "JWT": {
    "ACCESS_SECRET_KEY": "Vrh26btt6jbPUs6lQbWD2W6zg/6exqfdn5c2XA9K6SE=",
    "REFRESH_SECRET_KEY": "TdqhNnWeC45YdQKj8xuF1MUZohZZONZcVG0xADqY8GI=",
    "ACCESS_TOKEN_EXPIRY": "1d",
    "FORGOT_TOKEN_EXPIRY": "1d",
    "REFRESH_TOKEN_EXPIRY": "30d" 
  },
  "EMAIL": {
    "FROM": "demo@gmail.com",
    "OPTIONS": {
      "host": "smtp.gmail.com", 
      "port": 587,
      "auth": {
        "user": "demo@gmail.com",
        "pass": "password"
      }
    }
  }
}